<%= render partial: "matches/match_score", locals: { match: @match } %>
<div class="main_news">
  <% @news.each do |news| %>
    <div id="news_<%= news.id %>" class="news">
      <div class="image">
        <%= image_tag(news.image_url) if news.image_url %>
      </div>
      <div class="data">
        <a href="<%= news.url %>" class="title"><%= news.title %></a>
        <br class='clear' />
        <span class="url"><%= news.url %></span>
        <br class='clear' />
        <span class="description"><%= news.description %></span>
      </div>
    </div>
    <br class='clear' />
    <hr />
  <% end %>
</div>