<div id='tweets'>
  <div class='home_team_tweets'>
    <div>Total de Tweets durante o jogo:</div>
    <div class='total_home_tweets'><%= @presenter.home_team_tweets_count %></div>

    <div>Tweets por minuto:</div>
    <div class='tpm_home'><%= @presenter.home_tweets_per_minute %></div>
  </div>
  <%= render partial: "matches/match_score", locals: { match: @presenter.match } %>
  <br />
  <div class='away_team_tweets'>
    <div>Total de Tweets durante o jogo:</div>
    <div class='total_away_tweets'><%= @presenter.away_team_tweets_count %></div>
    <div>Tweets por minuto:</div>
    <div class='tpm_home'><%= @presenter.away_tweets_per_minute %></div>
  </div>
</div>
<br class='clear' />
<div id='tweets_during_the_minutes'></div>
<br class='clear' />
<div id="world_map" style="width: 1000px; height: 400px"></div>
<br class='clear' />
<hr />
<div id='moves'>
  <% @presenter.moves.each do |move| %>
    <div class="move" id="move_<%= move.id %>">
      <div class="time">
        <span><%= move.minute %></span>
      </div>
      <div class="move_content">
        <span class="team"><%= move.team_name %></span>
        <span class="move"><%= move.text %></span>
      </div>
    </div>
    <hr />
  <% end %>
</div>

<%= content_for :javascripts do %>
  <%= render 'charts', match: @presenter.match, presenter: @presenter %>
<% end %>