<div id='tweets'>
  <div class='home_team_tweets'>
    <div>Humor dos torcedores:</div>
    <% if @presenter.home_mood && @presenter.home_mood > 0 %>
      <div class='total_home_tweets'><%= image_tag 'good_mood.png' %></div>
    <% elsif @presenter.home_mood &&  @presenter.home_mood < 0 %>
      <div class='total_home_tweets'><%= image_tag 'bad_mood.png' %></div>
    <% else %>
      <div class='total_home_tweets'><%= image_tag 'neutral_mood.png' %></div>
    <% end %>
    <div>% de tweets do time:</div>
    <div class='total_home_tweets'><%= (@presenter.away_team_tweets_count + @presenter.home_team_tweets_count) > 0 ? "#{number_with_precision(((@presenter.home_team_tweets_count * 100.0)/(@presenter.away_team_tweets_count + @presenter.home_team_tweets_count)), precision: 2, separator: ',')}%" : "50%" %></div>

    <div>Tweets por minuto:</div>
    <div class='tpm_home'><%= @presenter.home_tweets_per_minute %></div>
  </div>

  <%= render partial: "matches/match_score", locals: { match: @presenter.match } %>

  <br />
  <div class='away_team_tweets'>
    <div>Humor dos torcedores:</div>
    <% if @presenter.away_mood && @presenter.away_mood > 0 %>
      <div class='total_home_tweets'><%= image_tag 'good_mood.png' %></div>
    <% elsif @presenter.away_mood &&  @presenter.away_mood < 0 %>
      <div class='total_home_tweets'><%= image_tag 'bad_mood.png' %></div>
    <% else %>
      <div class='total_home_tweets'><%= image_tag 'neutral_mood.png' %></div>
    <% end %>
    <div>% de tweets do time:</div>
    <div class='total_away_tweets'><%= (@presenter.away_team_tweets_count + @presenter.home_team_tweets_count) > 0 ? "#{number_with_precision(((@presenter.away_team_tweets_count * 100.0)/(@presenter.away_team_tweets_count + @presenter.home_team_tweets_count)), precision: 2, separator: ',')}%" : "#{50}%" %></div>
    <div>Tweets por minuto:</div>
    <div class='tpm_home'><%= @presenter.away_tweets_per_minute %></div>
  </div>
</div>
<br class='clear' />
<div id='tweets_during_the_minutes'></div>
<br class='clear' />
<div id="world_map" style="width: 1000px; height: 400px"></div>
<br class='clear' />
<hr />
<ul id='gallery'>
  <% @presenter.match.photos.each do |photo| %>
    <li><%= image_tag photo.url, data: { description: photo.description }, title: 'Tweet :' %></li>
  <% end %>
</ul>
<hr />
<div id='moves'>
  <h1>Ultimos jogos</h1>
  <% @presenter.moves.each do |move| %>
    <div class="move" id="move_<%= move.id %>">
      <div class="time">
        <span><%= move.minute %></span>
      </div>
      <div class="move_content">
        <% if badge_url = move.badge_url %>
          <span class="team"><%= image_tag badge_url %></span>
        <% end %>
        <span class="move"><%= move.text %></span>
      </div>
    </div>
    <hr />
  <% end %>
</div>

<%= content_for :javascripts do %>
  <%= render 'charts', match: @presenter.match, presenter: @presenter %>
<% end %>